<h1>Lista de Comunidades</h1>

<% @comunidades.each do |comunidades|%>
	<br>
	<%= link_to "#{comunidades.nombre}", admin_panel_path(:controller => 'admin', :action => 'sector', :comunidad_id => "#{comunidades.id}"), :method => :post %>

<%end%>
