	<% if session[:comunidad_id].to_s == @sector.comunidad_id.to_s %>
		<h1>Editar Sector</h1>
		<section>
			<ul class="listaSect">
				<li class="sectCont">
					<%= render 'form' %>
				</li>
			</ul>
			<div class="nuevoBot">
				<%= link_to 'Mostrar', @sector %>
			</div>
			<div class="nuevoBot">
				<%= link_to 'Volver', sectores_path %>
			</div>
			<%else%>
				<h1>Invalid Url</h1>
			<%end%>
		</section>