	<h1>Sector Nuevo</h1>
	<section>
		<ul class="listaSect">
			<li class="sectCont">
				<%= render 'form' %>
			</li>
		</ul>
		<div class="nuevoBot">
			<%= link_to 'Volver', sectores_path %>
		</div>
	</section>