@import 'nib'
@import 'nib/gradients'

gris = #999
grisOscuro = #666
naranjo = #FFAA00
verdeClaro = #95C11F
verdeOscuro = #3AAA35
foo = margin-left 1em
plomo = #7c7c7c


body
	background #EEE
	font-family 'Open Sans', sans-serif
	font-size 18px

	a
		color grisOscuro
	h1
		font-size 1.8em
	h2
		font-size 1.3em
	h1
	h2
	h3
	h4
		color grisOscuro
		font-weight 300
		text-align center
	p
		color grisOscuro
		font-weight 300
		text-align center
		font-size .8em
	footer
		background plomo
		color gris
		padding 2em 0
		text-align center
		width 100%
	header
		background white
		overflow hidden
		position relative
		width 100%
		.contHeader
			display block
			margin 0 auto
			width 80%
			.avatar
				cursor pointer
				float right
				position relative
				figure
					background white
					float left
					padding .5em 0
					position relative
					img
						border-radius 50%
						margin 0
						width 40px
				.nombre
					float left
					margin-left 1em
					position relative
					top .7em
					span
						color grisOscuro
						border-bottom 2px solid gris
						font-size .7em
				&:hover
					opacity .7
				.tools
					border-radius .5em
					display none
					float right
					margin-top 1em
					position absolute
					text-align center
					top 1em
					right 0
					a
						font-size .7em
						margin 1em 0
						text-align center
			.logo
				float left
				figure
					padding .5em 0
					img
						margin 0
						filter grayscale(1)
						transition .5s
						-webkit-filter grayscale(1)
						-moz-filter grayscale(1)
						width 150px
						&:hover
							filter grayscale(0)
							-webkit-filter grayscale(0)
							-moz-filter grayscale(0)
	nav
		display block
		font-size .7em
		font-weight 700
		margin 0 auto
		position relative
		width 80%
		ul
			border-bottom 3px solid transparent
			margin 0 auto
			padding 0
			a
				color inherit
				margin 0 1em
				text-decoration none
				padding 1em 0
				&:hover
					li
						border-bottom 3px solid verdeClaro
				li
					border-bottom 3px solid transparent
					color plomo
					display inline-block
					font-family 'Varela', sans-serif
					font-weight 300
					padding .5em 0
					text-align center
					text-transform uppercase
	section
		display block
		margin 2em auto
		position relative
		width 80%
		.listaCom
		.listaPan
			margin 0
			padding 0
			li
				display inline-block
				list-style none
				margin 1em 0
				position relative
				width 48%
				&:nth-child(even)
					margin-left 1em
				figure
					z-index 2
					.comunidad
					.panImg
						background linear-gradient(to left, #A2B885 50%, #91A478 50%)
						border-radius 50%
						position relative
						z-index 2
					.comuNombre
					.panNombre
						background #D4E4AE
						border-radius .5em
						position absolute
						right 0
						width 90%
						z-index 1
						a
							color white
							float right
							font-size 1.3em
							font-style italic
							font-weight 700
							margin .7em 16px 0 0
							text-align right
							width 100%
		.listaCom
			li
				figure
					.comunidad
						height 200px
						width 200px
						img
							width 100%
					.comuNombre
						height 150px
						top 25px
						p
							color grisOscuro
							margin 0 16px 0 0
							text-align right
		.listaPan
			li
				figure
					.panImg
						height 75px
						width 75px
						img
							width 100%
					.panNombre
						height 75px
						top 0
		.listaSect
		.listaUni
			margin 0
			padding 0
			position relative
			.sectCont
			.uniCont
				background #91A478
				border-radius .5em
				list-style none
				margin 1em auto
				overflow hidden
				padding 1em 0
				width 50%
				ul
					margin 1em auto 0
					padding 0
					text-align center
					width 50%
					li
						display inline-block
						a
							color white
							font-family 'Varela', sans-serif
							font-size .8em
							margin 0 1em
							padding 1em 0
				.actions
					display block
					margin 0 auto
					width 50%
					input
						background grisOscuro
						border none
						border-radius .5em
						color white
						display block
						float right
						margin 1em 0 0 0
						padding .3em 0
						width 180px
				.contieneUniL
					float left
					overflow hidden
					width 48%
					div
						p
							color white
							text-align right

				.contieneUniR
					float right
					text-align left
					overflow hidden
					width 48%
					div
						p
							color white
							text-align left
				.field
					text-align center
					label
						color white
					input
						display block
						margin 0 auto
						width 50%
				.seComuNombre
				.sectNom
					p
						color white
						margin 0 18px 0 0
						text-align center
				.seComuNombre
					p
						font-size .8em
				.sectNom
					p
						font-size 1.2em

		.listaVer
			margin 0
			padding 0
			position relative
			li
				background gris
				border-radius .5em
				display block
				margin 0 auto
				padding 1em 0
				width 49%
				p
					color white
		.nuevoBot
			display block
			margin 2em auto 0
			text-align center
			width 200px
		.solicitudes
			margin 2em 0 0 0
		.nuevoSect
		.solicitudes	
			a
				background naranjo
				border-radius .5 em
				color white
				padding 1em
				text-align center
				width 200px
				&:hover
					opacity .5
	.progressbar
		background #A2B885
		border-radius .5em
		display block
		margin 1em auto
		width 40%
		.ui-progressbar-value
			background #91A478
			border-right 1px solid plomo

@media (max-width: 1200px)
	body
		section
			.listaCom
				li
					figure
						.comunidad
							height 150px
							width 150px
@media (max-width: 800px)
	body
		section
			.listaCom
			.listaPan
				li
					display block
					margin 2em auto
					width 80%
					&:nth-child(even)
						margin-left auto
@media (max-width: 520px)
	body
		header
			.contHeader
				.avatar
				.logo
					display block
					float none
					margin 0 auto
					width 100%
				.avatar
					display block
					margin 0 auto
					position relative
					text-align center
					overflow hidden
					figure
						display none
					.nombre
						float left
						padding-bottom 1em
						top 0
					.tools
						margin 0
						text-align right
						top 0
						width 100%
						z-index 10
				.logo
					figure
						display block
						padding .5em 0
						text-align center
		section
			.listaCom
			.listaPan
				li
					width 100%
		.progressbar
			width 80%
@media (max-width: 410px)
	body
		section
			.listaCom
				padding 0
				margin 0
				li
					padding 0
					margin 0
					figure
						height inherit
						.comunidad
							display block
							margin 0 auto
						.comuNombre
							position relative
							top -4em
							width 100%
							a
								margin 3.5em auto 0 auto
								text-align center
							p
								text-align center
								margin 0
			.listaPan
				li
					figure
						.panNombre
							a
								font-size 1em
								width 50%