<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_unidad.nombre %>
</p>

<%= link_to 'Edit', edit_tipo_unidad_path(@tipo_unidad) %> |
<%= link_to 'Back', tipo_unidades_path %>
