<!DOCTYPE html>
<html>
<head>
  <title>Beevir</title>
  <%= stylesheet_link_tag "estilo", "normalize", media: "all", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>


	<footer>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, deserunt, modi
	</footer>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	
</body>
</html>